*{
    padding: 0;
    margin: 0;

}

html{
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;

}

:root{
    --white-color: #fff;
    --black-color:#000;
    --text-color: #333;

}
.grid.wide {
    max-width: 1440px;
    
    margin: 0 auto;
}
.row_customize {
    display: flex;
    flex-wrap: wrap;
    margin-left: 0;
    margin-right: 0;
}
.d_flex {
    display: flex;
    
}
.d_justify-content {
    justify-content: space-between;
}
.flex_wrap {
    flex-wrap: wrap;
}
/* .d_inline-block {
    display: inline-block;
} */
.align-item {
    align-items: center;
}
#show_filter {
    display: none;
}
.d-none {
    display: none;
}
.d-block {
    display: block;
}
.oveflow-y {
    overflow-y: hidden;
}


/* @keyframes fadeIn {
    from {
        display: block;
    }
    to {
        display: none;
    }
} */





